/* reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 15px;
    line-height: 1.2;
    color: #333;
}



/* page CSS */
.wrapper{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #0081ff;
}

.header h1 {
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
    color: #fff;
}

#content {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 20%;
    padding: 15px;
    border: 1px solid #aaa;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
}

.card_head,
.popup_head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup_head {
    padding-bottom: 15px;
    border-bottom: 1px solid #aaa;
}

.profile_image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.heading { width: 65%; }

.profile_name { font-size: 14px; }

.profile_date { font-size: 12px; }

.card_content {
    width: 100%;
    height: 100%;
    max-height: 430px;
    overflow: hidden;
}

.popup_content {
    width: 30%;
    margin: 20px 0;
    padding: 20px 0;
}

.popup_caption {
    width: 100%;
    margin-top: 30px; 
}

.card_image {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card_image img{
    width: 100%;
    height: 100%;
    max-height: 450px;

}

.card_footer,
.popup_footer {
    margin-top: 20px;
    border-top: 1px solid #aaa;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.popup_footer {
    border: none;
}

.popup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 450px;
}


.popup_image {
    width: 60%;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.heart {
    position: relative;
    top: 2px;
    margin-right: 15px;
    height: 100%;
}

.btn_show { 
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-color: #0081ff;
    margin: 30px auto;
    padding: 20px;
    max-width: 120px;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #0081ff;
    transition: .3s ease-in-out;
}

.btn_show:hover,
.btn_show:active,
.btn_show:focus {
    color: #0081ff;
    background-color: transparent;
}

.popup_display {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}
  
.popup_window {
    position: relative;
    background-color: #fefefe;
    background-size: cover;
    background-position: center;
    margin: 5% auto;
    width: 80%;
    min-height: 300px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}




/* responsive */
@media (max-width: 1400px) {
    .card { margin-bottom: 30px; }
}

@media (max-width: 1300px) {
    .heading { width: 50%; }

    .card_image { height: 130px; }
}

@media (max-width: 992px) { 
    .card {
        width: 40%;
        margin-bottom: 40px;
    }

    .heading { width: 75%; }
    
    .card_image { height: 200px; }

    .popup { flex-direction: column-reverse; }

    .popup_content {
        width: 90%;
        margin: 0 auto;
    }

    .popup_image {
        width: 100%;
        height: 200px;
    }

    .popup_footer { margin-top: 0; }

    .popup_window { width: 50%; }
}

@media (max-width: 768px) { 
    .card { 
        width: 100%; 
        max-width: 320px;
        margin-bottom: 20px;
    }

    .popup_window { width: 80%; }
}

@media (max-width: 400px) { 
    .heading { width: 70%; }

    .card_image { height: 180px; }
}